#exemplo{
    position: relative;
    left: 590px;;  
    width:100px; 
    height:100px;  
    margin:20px; 
    border:1px solid rgb(173, 36, 36);
    
}
.verde{
    background-color:green;
    text-align: center;
}
.vermelho{
    background-color:red;
    text-align: center;
}
.roxo{
    background-color: purple;
    text-align: center;
}
.amarelo{
    background-color:yellowgreen;
    text-align: center;
}
body{
    background-color:gainsboro;
    text-align: center;
    
}
.imagem {
    height: 400px;
    padding:2px;
    border: 2px solid cornflowerblue;
}
.cabesalho {
    text-align: center;
}
.texto {
    text-align:justify;
    width: 500px;
    height: 200px;
    overflow: auto;
    background-color:gainsboro;
    margin-left:auto;
    margin-right: auto;
    padding:2px;
    border:2px solid cornflowerblue;
}
.scrollbutton {
    width:40px;
    height:40px;
    border-radius: 15px;
    background-color:blueviolet;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}
#botao {
    cursor: pointer;
}