#exemplo{
    text-align: center;
    width:100px; 
    height:100px;  
    margin:20px; 
    border:1px solid rgb(173, 36, 36);
    
}
.verde{
    background-color:green;
    text-align: center;
}
.vermelho{
    background-color:red;
    text-align: center;
}
.roxo{
    background-color: purple;
    text-align: center;
}
.amarelo{
    background-color:yellowgreen;
    text-align: center;
}
body{
    background-color:gainsboro;
    text-align: center;
}
.imagem {
    height: 400px;
}
.cabesalho {
    text-align: center;
}